
.circle1 {
    /* margin-top: 50px; */
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 100%;
    padding: 1px;
    background-color: rgb(125, 125, 146);
  }
  
  .circle2 {
    width: 280px;
    height: 280px;
    border: 3px solid black;
    border-radius: 100%;
    margin-top: 7px;
    margin-left: 7px;
  }
  
  .circle3 {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 100%;
    margin-top: 35px;
    margin-left: 36px;
  }
  
  .circle4 {
    width: 75px;
    height: 75px;
    border: 3px solid black;
    border-radius: 100%;
    margin-top: 58px;
    margin-left: 58px;
    background-color: red;
  }
  
  .FAN {
    margin-left: 320px;
  }
  
  .firststem {
    width: 20px;
    height: 65px;
    border: 2px solid black;
    background-color: black;
    margin-left: 143px;
  }
  
  .buttonstem {
    width: 70px;
    height: 130px;
    border: 2px solid black;
    background-color: black;
    margin-left: 118px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .secondstem {
    width: 20px;
    height: 80px;
    border: 2px solid black;
    background-color: black;
    margin-left: 143px;
  }
  
  .stemcircle {
    width: 27px;
    height: 27px;
    border: 4px solid black;
  
    background-color: black;
    margin-left: 137px;
    margin-bottom: 500px;
    border-radius: 100%;
    margin-top: -25px;
  }
  
  .thirdstem {
    width: 20px;
    height: 50px;
    border: 2px solid black;
    background-color: black;
    margin-left: 143px;
    margin-top: -510px;
  }
  
  .foot {
    width: 280px;
    height: 30px;
    border: 3px solid black;
    border-radius: 100%;
    background-color: black;
    margin-left: 12px;
  }
  
  .button1 {
    width: 10px;
    height: 13px;
    border: 2px solid yellow;
    border-radius: 100%;
    background-color: yellow;
    margin-left: 28px;
    margin-top: 10px;
  }
  
  .button2 {
    width: 10px;
    height: 13px;
    border: 2px solid yellow;
    border-radius: 100%;
    background-color: yellow;
    margin-left: 28px;
    margin-top: 10px;
  }
  
  .button3 {
    width: 10px;
    height: 13px;
    border: 2px solid yellow;
    border-radius: 100%;
    background-color: yellow;
    margin-left: 28px;
    margin-top: 10px;
  }
  
  .button4 {
    width: 10px;
    height: 13px;
    border: 2px solid yellow;
    border-radius: 100%;
    background-color: yellow;
    margin-left: 28px;
    margin-top: 10px;
  }
  
  .fanblade1 {
    width: 100px;
    height: 18px;
    border: 1px solid black;
    border-top-left-radius: 17px;
    background-color: black;
    margin-top: -542px;
    margin-left: 10px;
  }
  
  .fanblade2 {
    width: 18px;
    height: 100px;
    border: 1px solid black;
    border-top-left-radius: 17px;
    background-color: black;
    margin-top: -154px;
    margin-left: 141px;
  }
  
  .fanblade3 {
    width: 100px;
    height: 19px;
    border: 1px solid black;
    border-top-right-radius: 17px;
    background-color: black;
    margin-top: 29px;
    margin-left: 190px;
  }
  
  .fanblade4 {
    width: 19px;
    height: 100px;
    border: 1px solid black;
    border-bottom-left-radius: 17px;
    background-color: black;
    margin-top: 29px;
    margin-left: 142px;
  }

  @media (max-width:740px) {
    .FAN {
      margin-left: 200px;
    }
  }
  @media (max-width:552px) {
    .FAN {
      margin-left: 120px;
    }
    .circle1 {
      /* margin-top: 50px; */
      width: 240px;
      height: 240px;
    }
    .circle2 {
      width: 220px;
      height:  220px;
 
    }
    .circle3 {
      width: 140px;
      height: 140px;
     
    }
    
    .circle4 {
      width: 26px;
      height: 26px;
    }
    .fanblade1 {
      width: 100px;
      height: 12px;
      margin-top: -490px;
      margin-left: 10px;
    }
    
    .fanblade2 {
      width: 12px;
      height: 100px;
      margin-top: -122px;
      margin-left: 118px;
    }
    
    .fanblade3 {
      width: 100px;
      height: 13px;
      margin-top: 4px;
      margin-left: 140px;
    }
    
    .fanblade4 {
      width: 12px;
      height: 100px;
      margin-top: 9px;
      margin-left: 120px;
    }
    .firststem {
      width: 15px;
      margin-left: 112px;
    }
    
    .buttonstem {
      width: 70px;
      height: 120px;

      margin-left: 84px;

    }
    
    .secondstem {
      width: 15px;
      height: 80px;

      margin-left: 110px
    }
    
    .stemcircle {
      width: 20px;
      height: 20px;

      margin-left: 105px;
      margin-bottom: 500px;

      margin-top: -25px;
    }
    
    .thirdstem {
      width: 15px;
      height: 50px;
      margin-left: 110px;
      margin-top: -510px;
    }
    
    .foot {
      width: 280px;
      height: 30px;
      border: 3px solid black;
      border-radius: 100%;
      background-color: black;
      margin-left: -20px;
    }

    
  }
  @media (max-width:400px) {
    .FAN {
      margin-left: 40px;
    }
  }
  @media (max-width:315px) {
    .FAN {
      margin-left: 20px;
    }
  }
  @media (max-width:300px) {
    .FAN {
      margin-left: 8px;
    }
  }